 .candleCont {fill: rgb(25,30,35); }
.cls-1{fill:#86af6b; stroke-width: 0.25;}
.cls-1,
.cls-2{fill-opacity:0.4;}
.cls-1,.cls-3{stroke:#80c156;}
.cls-1,.cls-2,
.cls-3{stroke-miterlimit:10; stroke-width: 0.25}
.cls-2{fill:#ba3040;stroke:#ba3040;}
.cls-4{fill:#4e5863;stroke:#4e5863;}
.cls-4{fill-opacity:0.4;}
.cls-3{fill:none;}

 .candle:hover { 
 }

line.dash {
    stroke:rgb(198, 201, 204);
    stroke-width: 0.038;
}


.line{}