.sidenav {
    height: 100%;
    width: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: @RegularNavy;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 121px;
    margin-right: 0px;
}


.topnav {
    height: 50px;
    width: 80%;
    float: right;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: @DarkNavy;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
    margin-top: 0.5%;
    margin-right: 0px;
}

.navHead{
    text-transform: uppercase;
    text-align: left;
    font-size: 1.2em;
    background-color: @SidebarHeader;
    width: 86%;
}
.navHead p{
    margin-top: 14px;
    margin-left: 10px;
}
.navItem.active{
    background-color: @DarkNavy;
}

.navItem{
    padding: 10px;
    height: 22px;
    background-color: @SidebarBackground;
}

.infoNav{
    display: flex;
    justify-content: space-between;
}

#marketItemC{
    display: none;
    margin-top: -63px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: @SidebarText;
    display: block;
    transition: 0.3s;
}


.selectIconContainer.right{
    padding: 0;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.colVertical{
    margin-top: -22%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.merc{
  min-width: 3%;
  margin: 0 0px 0 0px;
  background-color: @RegularNavy ;
  color: @LightText;
  margin: -60px 0px 0 0px;
}

.timenavI{
    color: @DarkText;
    font-size: 0.8em;
    margin-top: 8.5px;
    float: right;
}

.orderIconCont
{
    padding: 0px !important;
    margin: 0px !important;
    margin-top: -8px !important;
}

.orderDown{
    fill: @DarkRed;
    width: 7px;
    transform: rotate(180deg);
}
.orderUp{
    fill: @DarkGreen;
    width: 7px;
}
.flex{
    display: flex;
}

.colGraph{
    display: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}